nav.bdr
	h2 menu
	ul
		a(href="index.html")
			li item 1
		a(href="about.html")
			li item 2
		a(href="#")
			li item 3
	ul.nav-links
		li.nav-link
			a(href="about.html") О заводе Galmet
		li.nav-link
			label(for='slide2') История компании
		li.nav-link
			label(for='slide3') Продукция
		li.nav-link
			label(for='slide4') Твердотопливные котлы
		li.nav-link
			label(for='slide5') Водонагреватели
		li.nav-link
			label(for='slide6') Буферные емкости
		li.nav-link
			label(for='slide7') Солнечные коллекторы
		li.nav-link
			label(for='slide8') Комплекты
		li.nav-link
			label(for='slide9') Тепловые насосы
		li.nav-link
			label(for='slide10') Наши контакты
		li.nav-link
			label(for='slide11') Холдинг FDV-GROUP
