section.about.bdr
	.dark-block
	.plant__content

		h2.plant__content-title Лидер по производству водонагревателей в Польше

		p.plant__content-text Galmet является крупнейшим польским производителем отопительного оборудования с более чем 36-ти летней историей.
		p.plant__content-text На площади 48 000 кв.м производственной площади работают более 720 опытных и квалифицированных сотрудников на современном и технологичном оборудовании с высоким уровнем производительности и автоматизации процесса.

		p.plant__content-text Благодаря сочетанию в нашей продукции передовых технологий с креативностью и смелостью молодых кадров, постоянной поддержке консультантов отдела технической поддержки на всех этапах реализации продукции, мы можем предоставить оптимальные, экономичные и экологичные решения для отопления, исходя из индивидуальных потребностей каждого клиента.

		p.plant__content-text Все наши продукты могут быть объединены с максимальной эффективностью в комбинированных системах отопления.
